<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.waterSystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="project.waterSystem.WelcomeScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="project.waterSystem.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="LOGIN_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="project.waterSystem.AppScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="APP_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="project.waterSystem.RegistrationScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="Reg_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="project.waterSystem.SourceReport"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="SOURCE_REPORT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="project.waterSystem.ProfileActivity" />
        <activity android:name="project.waterSystem.PurityReport">
            <intent-filter>
                <action android:name="Purity_Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="project.waterSystem.MainReportScreen"
            android:label="WaterSystem">
            <intent-filter>
                <action android:name="Reg_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="project.waterSystem.PurityReportsListActivity">
            <intent-filter>
                <action android:name="PurityList_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="project.waterSystem.SourceReportsListActivity"></activity>
    </application>

</manifest>